:root {
	--main-color: 	#95f877;;
    --second-color: #3498db;
	--menu-color: #3498db;
}

body{
    margin: 0;
    padding: 0;
    font-family: aktiv grotesk,sans-serif;
    background-color: #f1f2f3;
    color: #68727d;
}

/* ------------------------------- HEADER ------------------------------- */

/* ---------------- PATROCINADOR ---------------- */
.header-brand{
    text-align: center;
}
.header-brand img{
    width: 140px;
}
/* ---------------- BARRA DE NAVEGACION ---------------- */
.header-nav{
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgb(12 13 14 / 15%);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    z-index: 1000;
}

/* Logo */
.logo{
    display: inline-block;
}
.logo img{
    vertical-align: middle;
    width: 140px;
}

/* Menu de navegacion */
.nav-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item a{
    padding: 10px;
    display: block;
    height: 100%;
    text-decoration: none;
}

.nav-item:hover{
    background: -moz-linear-gradient(45deg, var(--second-color) 0%, var(--main-color) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, var(--second-color)), color-stop(100%, var(--main-color)));
    background: -webkit-linear-gradient(45deg, var(--second-color) 0%, var(--main-color) 100%);
    background: -o-linear-gradient(45deg, var(--second-color) 0%, var(--main-color) 100%);
    background: -ms-linear-gradient(45deg, var(--second-color) 0%, var(--main-color) 100%);
    background: linear-gradient(45deg, var(--second-color) 0%, var(--main-color) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f89fc', endColorstr='#ff5db1', GradientType=1 );   
}

/* ---------- BARRA DE NAVEGACION - DROPDOWN - MENU ----------*/
.dropdown ul{
    margin: 0;
    padding: 0;
}
.dropdown-link a{
    display: flex;
    background-color: #fff;
    color: #3498db;
    font-size: 20px;
    align-items: center;
}
.dropdown-link a img{
	height: 40px;
	padding-right: 0.8rem;	
}
.dropdown-link:hover a{
    background-color: #3498db;
    color: #fff;
}
.dropdown ul{
    position: fixed;
	max-height: 0px;
	overflow: hidden; 
    z-index: 1500;
}
.nav-list li:hover .dropdown ul{
	max-height: 100%;
}


/* Apartado de Usuario */
.user{
    display: flex;
    justify-content: right;
    align-items: center;
}
.user .user-wrapper{
    float: right;
    margin-right: 10px;
    display: grid;
    grid-template: 
        "icon   user "  30px
        "icon   rol"    20px/
        40px    auto;
        justify-content: right;
    align-items: center;
    cursor: pointer;
}
.user .user-wrapper:hover{
    border-radius: 1rem;
    background: -moz-linear-gradient(45deg, var(--second-color) 0%, var(--main-color) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, var(--second-color)), color-stop(100%, var(--main-color)));
    background: -webkit-linear-gradient(45deg, var(--second-color) 0%, var(--main-color) 100%);
    background: -o-linear-gradient(45deg, var(--second-color) 0%, var(--main-color) 100%);
    background: -ms-linear-gradient(45deg, var(--second-color) 0%, var(--main-color) 100%);
    background: linear-gradient(45deg, var(--second-color) 0%, var(--main-color) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f89fc', endColorstr='#ff5db1', GradientType=1 );
}
.user-wrapper img{
    grid-area: icon;
    width: 40px;
    padding-left: 5px;
}
.user-wrapper .user-name{
    grid-area: user;
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 16px;
    padding-right: 5px;
}
.user-wrapper .user-rol{
    grid-area: rol;
    margin-top: 5px;
    margin-left: 10px;
    font-size: smaller;
    padding-right: 5px;
}

/* CSS TO TURN header-nav INTO header-navNAVSTICKY */
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 80px;
}

/* ------------------------------- CONTENIDO PRINCIPAL ------------------------------- */
main{
    padding: 20px;
}


